.article-heading {
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.3rem 0.7rem;
}

.item-container {
  background-color: #ea4a88;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  height: 3.5rem;
}

.item:nth-child(even) {
  background-color: #ce4277;
}

.flag {
  width: 4rem;
  height: 2.5rem;
}

sub {
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
  font-size: 75%;
}
