.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.dashboard-map {
  opacity: 0.35;
  min-height: 10rem;
  max-height: 14rem;
  width: 50%;
}

.title-container {
  align-items: flex-start;
  text-align: right;
  max-width: 50%;
}

.page-title {
  font-size: 1.6rem;
  text-transform: uppercase;
}
