.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.6rem;
  background-color: #d6447d;
  border-color: #fff3;
  font-size: 1.3rem;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.year,
.title {
  font-size: 1.3rem;
  font-weight: 700;
}

.icon-mic {
  font-size: 1.2rem;
}
